<h1> Hello, this is James </h1>


<p> With this app, we will be bringing the occult underworld to your finger tips with our new app, "Weird Occult Things R Us." We are very dedicated to helping you reach your goal of becoming that weird guy down the street who collects dolls that look like they're from the mouth of hell. </p>
