// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

thead {
	background-color:green;
}

th {
	font-family: lato;
	font-size: 1.5em;
	border-right:1px solid black;
}

.product_data {
	font-size: 1.3em;
	color: green;
}

	/*show page*/

.title {
	color: green;
	font-family: lato;
	font-size: 1.5em;
	margin-top: 1%;
	margin-bottom: 2%;
}

a {
	font-size:1.5em;

}

.description {
	color:gray;
	margin-top: 2em;
	font-size: 1.5em;
	text-align: center;
}

.img-responsive {
	margin: 0 auto;
}