// Place all the styles related to the static_pages controller here.//

h1 {
	padding-top: 50px;
	color:green;
	font-family: 'Rationale', sans-serif;
	text-align: center;
}

h2 {
	padding-top: 2 em;
	color: black;
	font-family: 'Rationale', sans-serif;
	text-align: center;
}

/*nav bar */

.container-fluid {
	background-color: #1F201A;
}

/*navbar fonts and total background */

.navbar-default .navbar-brand {
	color:green;
	font-family: 'Rationale', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}

/*links color and floating away from brand */

.navbar-default .navbar-nav > li > a{
	color: white;
	font-size: 2em;
	font-family: 'Shadows Into Light', cursive;
;
}

/*image*/

#cthulu{
	margin: 0 auto;
	padding-bottom: 50 px;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
}


.navbar-default .navbar-text {
    color: #3c763d;
}

.container {
	background-color: black;
}

.navbar-default {
	background-color: black;
}


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

